<nav class="section">
    <div class="container is-max-widescreen">
        <h1 class="title has-text-centered has-text-white">Cartola Edinho</h1>
    </div>
</nav>
<div class="row">
    <span>&ensp;</span>
</div>

@code {

}
